* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.535),rgba(0, 0, 0, 0.356)),url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo img {
    float: left;
    margin-top: 3.15em;
    padding-left: 30px;
    width: 40px;

}

.logo h1 {
    top: 15px;
    left: 10px;
    color: rgb(21, 174, 185);
    font-size: 35px;
    padding: 40px 50px;
    margin-left: 27px;
}

nav {
    display: flex;
    flex-direction: row;
    /*padding: 2% 6%; */
    justify-content: space-between;
    align-items: center;
    width:100%;  
}

/*nav img {
    width: 150px;
} */


.navlinks {
    flex: 1;
    text-align: right;
   
}  */

.navlinks ul li {
    list-style: none;
    display: inline-block;
    padding-top: 1em;
    margin:0px 20px; 
    /* padding: 8px 12px; */
    position: relative; 
}

.navlinks ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.navlinks ul li a:hover {
    color: rgb(21, 174, 185);
    transition: 0.8s;
}

.navlinks ul li::after{
    content:'';
    height:2px;
    width:0%;
    background: rgb(21, 174, 185);
    margin:auto;
    display: block;
    /* position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s; */
}

.navlinks ul li:hover::after{
    width:100%;
    transition: width 0.35s linear;
}

/*.icon img {
    padding-left: 95%;
    margin-bottom: 1.3em;
    width: 20px;
    cursor: pointer;
} */

#item{
    display:flex;
    flex-direction: row;
    justify-content:end;
    align-items:center;
}

#item li{
    list-style: none;
    padding-right: 50px;
}

#item .icon i{
    color:white;
    padding-right: 30px;
    font-weight: bolder;
}

#item li a:hover, #item .icon i:hover{
    color: rgb(21, 174, 185);
    transition: 0.8s;
    cursor: pointer;
}

.textbox {
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textbox h1 {
    padding-top: 1em;;
    font-size: 60px;
}

.textbox h4 {
    padding-left: 52%;
    margin: 10px 0 40px;
    font-size: 100;
    color: white;
}


.textbox p {
    color: rgb(230, 230, 230);
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    padding: 10px;

}

button{
    width:200px;
    padding: 15px;
    text-align: center;
    margin:20px 10px;
    border-radius: 25px;
    font-weight:bold;
    font-size: 0.95em;
    border:2px  rgb(21, 174, 185);
    background: transparent;
    color:white;
    cursor: pointer;
    position: relative;
    overflow:hidden;
}

span{
    background: rgb(21, 174, 185);
    height: 100%;
    width:0;
    border-radius: 25px;
    position:absolute;
    left:0;
    bottom: 0;
    z-index: -1;
    transition:0.5s
}

button:hover span{
    width:100%;
}

button:hover{
    border:none;
    color: rgb(6, 52, 55);
    font-weight: bolder;
    transition: 1s;
}

/*
.btn1 {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: none;
    padding: 12px 34px;
    font-size: 13px;
    font-weight: bolder;
    background: transparent;
    position: relative;
    cursor: pointer;
} */

.btn2 {
    width:200px;
    padding: 15px;
    text-align: center;
    margin:20px 10px;
    
    font-weight:bold;
    font-size: 13px;
    border:2px solid rgb(21, 174, 185);
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow:hidden;
    /*display: inline-block;
    text-decoration: none;
    color: white;
    padding: 12px 34px;
    border-radius: 25px;
    font-weight:bold;
    font-size: 13px;
    border:2px solid rgb(21, 174, 185);
    position: relative;
    cursor: pointer; */
}

/*
.btn1:hover {
    color: rgb(21, 174, 185);
} */

.btn2:hover {
    border: 2px solid white;
    background: rgba(21, 174, 185, 0.473);
    transition: 1.2s;
} 

.buttons{
    position:relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

nav.fa{
    display: none;
}

.programs {
    padding-top: 70px;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

.block {
    float: left;
    color: rgb(13, 111, 118);
    width: 32%;
    line-height: 1.6em;
    margin: 2em 0 2em 0.8em; 
    text-align:left;
    border-radius: 12px;
    padding: 45px;
    box-sizing:border-box;
    background-color: rgba(21, 174, 185, 0.084);
    transition: 0.5s;
}

.block h3 {
    text-align: center;
    color: rgb(13, 111, 118);
}

.block:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.details {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7rem 11rem;
    background-color: rgb(21, 174, 185);

    /*display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8em 12em;
    background-color: rgb(21, 174, 185); */
}

.details h1,
h2,
h3,
h4 {
    color: rgb(238, 254, 255);
}

.one p {
    line-height: 1.6em;
    font: 1.1em;
    padding-bottom: 1em;
}

.one{
        border-right:1px solid white;
        padding-right: 4rem;
}


.two p {
    line-height: 1.6em;
    font: 1.1em;
    padding-bottom: 1em;
}

.btn3 {

   /* background: white;
    height: 100%;
    width:0;
    border-radius: 25px;
    position:absolute;
    left:0;
    bottom: 0;
    z-index: -1;
    transition:0.5s;*/
    
 
    text-decoration: none;
    color: white;
    border: 1.2px solid white;
    border-radius: 20px;
    padding: 12px 34px;
    font-size: 13px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.btn3:hover {

    background: rgb(18, 125, 133);
    color: white; 
    border: 1.2px solid rgb(18, 125, 133);
    transition: 1.2s;
}

.about {
    padding: 4em;
}

.about h2 {
    text-align: center;
    color: rgb(21, 154, 163);
    padding-bottom: 1.5em;
}

.about p {
    line-height: 1.6em;
    margin-left: 15px;
    font-weight: 500;
    padding-bottom: 1.5em;

}

.contact {
    padding: -2em;
}

.contact h2 {
    text-align: center;
    color: rgb(21, 154, 163);
    padding-bottom: 0.2em;

}

.contact h4 {
    text-align: center;
    color: rgb(21, 154, 163);
    padding-bottom: 1.5em;
}

.form {
    margin: 20px 0;
    border: 1px #a0adb5 solid;
    padding: 20px;
    border-radius: 15px;
}

.form .formgroup {
    padding-bottom: 12px;
}

.form label {
    display: block;
}

.form input[type="text"],
.form textarea {
    padding: 8px;
    width: 95%;
}

.faq {
    padding-right: 20%;
    padding-left: 20%;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: rgb(13, 111, 118);
    border: 1px solid rgb(0, 43, 62);
    border-radius: 20px;
    padding: 12px 34px;
    font-size: 13px;
    font-weight: bolder;
    background-color: rgba(21, 174, 185, 0.183);
    position: relative;
    cursor: pointer;
}

.button:hover {
    background: rgb(18, 125, 133);
    color: white;
    border: none;
    transition: 1.2s;
}

.form label {
    color: rgb(18, 125, 133);
}

#main-footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 40px;
}